#header .navbar-default {
  background-color: #000000;
  left: -1px;
  top: -1px;
  border-radius: 0px;
}

#header .navbar-default .navbar-nav>li>a {
  color:777779;
}

#header .navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}